* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}

body {
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    padding: 1rem 1rem 0;
}

.content {
    margin: 5rem auto;
    width: 450px;
    min-width: 450px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.headr-pic {
    width: 450px;
    min-width: 450px;
    border-radius: 20px 20px 0 0;
}

.bottom {
    background-color: hsl(225, 100%, 98%);
    border-radius: 0 0 20px 20px;
}

.colors {
    /* - Very pale blue: */
    color: hsl(225, 100%, 98%);

    /* - Desaturated blue: */
    color: hsl(224, 23%, 55%);

    /* - Dark blue:  */
    color: hsl(223, 47%, 23%);

    /* - Pale blue: */
    color: hsl(225, 100%, 94%);

    /* - Bright blue:  */
    color: hsl(245, 75%, 52%);
}
